<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <application android:theme="@style/AppTheme" android:label="Shizuku Shell" android:icon="@mipmap/ic_launcher" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".McpReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.arena.shizuku_shell_local.RUN" />
            </intent-filter>
        </receiver>
        <activity android:name=".McpRunActivity" android:exported="true" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:excludeFromRecents="true" android:noHistory="true" />
        <service android:name=".McpService" android:exported="true" />
        <provider android:name="rikka.shizuku.ShizukuProvider" android:authorities="${applicationId}.shizuku" android:multiprocess="false" android:enabled="true" android:exported="true" android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>
</manifest>
